/* COMMON
   ======================= */
.nada {
    display: none;
}

.opaq {
    opacity: 0.2;
}

/* ======================= */

/* MACRO LAYOUT
   ======================= */
body {
    font-family: 'Roboto', sans-serif;
}

.burger-wrapper {
    height: 100vh;
}

.wrapper {
    padding-left: 7%;
    padding-right: 7%;
}

header {
    background-color: #fdbc41;
    padding-top: 40px;
    padding-bottom: 30px;
}

main {
    padding-top: 30px;
    flex-grow: 1;
    overflow-y: auto;
}

.price-output {
    color: white;
    background-color: #d23359;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-shrink: 0;
    font-size: 200%;
    font-weight: bolder;
}

/* ======================= */

/* MICRO LAYOUT
   ======================= */
#burger-name {
    font-size: 150%;
}

h2 {
    padding-top: 30px;
    font-weight: 400;
    font-size: 140%;
}

.ingredients {
    padding-bottom: 20px;
    padding-top: 20px;
}

.ingredient {
    width: 50%;
    padding-bottom: 10px;
}

.food-logo {
    width: 50px;
    margin-right: 20px;
}

.coupon label {
    padding-right: 10px
}

#discount-code {
    padding: 5px;
    width: 70%;
    background-color: #fff4e2;
    border-radius: 4px;
    line-height: 120%;
}

.block-button {
    text-align: center;
    margin: auto;
    display: block;
    background-color: #fdbc41;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 120%;
    font-weight: bolder;
    margin-top: 25px;
}

#output::after {
    content: "\20AC";
}

/* +++ fixed +++ */
.fixed {
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.spin-box {
    color: white;
    background-color: #d23359;
    border-radius: 5px;
    padding: 40px;

}

.logging-icon {
    font-size: 150%;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


/* ======================= */

/* QUERIES */